:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#cite {
    display: block;
    position: absolute;
    bottom: 0;
    left: 2%;
}

main {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(228, 164, 203), rgb(102, 17, 238));
    .container {
        width: 100%;
        height: 80%;
        .quotes {
            width: 70%;
            height: 90%;
            margin: auto;
            margin-top: 50px;
            display: grid;
            grid-template-rows: 60% 40%;
            justify-content: flex-start;
            background-color: rgba(0,0,0,0.2);
            padding: 50px;
            border-radius: 15px;
            transition: 0.5s all ease-in-out;
            @media (max-width: 400px) {
                width: 80% !important;
                grid-template-rows: 70% 30% !important;
            }
            &:hover {
                background-color: rgba(247, 7, 255, 0.2); 
            }
            #quote {
                display: flex;
                align-items: center;
                width: 100%;
                font-size: 1.3rem;
                word-wrap: break-word;
                word-break: break-all;
                overflow: auto;
                height: 100%;
                @media (max-width: 450px) {
                    font-size: 1rem !important;
                }
            }
            #author {
                align-self: center;
                width: 100%;
                font-weight: 700;
                font-size: 2rem;
                word-wrap: break-word;
                word-break: break-all;
                @media (max-width: 450px) {
                    font-size: 1.2rem !important;
                }
            }
        }
    }
    & div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
    }
}